*,
*::before,
*::after {
  box-sizing: border-box;
}

.primary-accent {
  background-color: #d70f64;
  color: white;
  outline: none;
  border-color: #c10050;
}
.btn.primary-accent:hover {
  background-color: #c10050;
  border-color: #c10050;
}

.active {
  text-shadow: 1px 1px grey;
  color: wheat;
}

.add-border {
  border: 1px solid grey;
  box-shadow: 1px 1px #888;
  border-radius: 5px;
  padding: 1.3rem;
}

.add-border--no-box-shadow {
  box-shadow: none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border: 1px solid rgba(255, 255, 255);
  color: #c10050;
}
